body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color:#64ffda;
    height: 100vh;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.testimonial-container {
    width: 500px;
    height: 100px;
    background-color: #0a192f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-width: 400px;
    padding: 70px 20px;
    margin: 5px;
    color: #fff;
    position: relative;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
}

.username {
    font-size: 13px;
    font-weight: 1000;
}